<footer class="custom-footer">
  <div class="container">
    <div class="footer-content">
      <p>&copy; 2024 B.S.R.E.M. All rights reserved.</p>
      <ul class="footer-links">
        <li><a href="/#about" class="scroll-link">About Us</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/#contact" class="scroll-link">Contact</a></li>
        <li><a href="/privacy">Privacy Policy</a></li>
        <li><a href="/#faq"class="scroll-link">FAQ</a></li>
      </ul>
    </div>
  </div>
</footer>
