<div class="container">
  <div class="box">
    <img src="images/do.png" alt="Image 1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button class="read-more">Read More</button>
  </div>
  