<!-- home section strat -->

<section id="home" class="home">
  <div class="video-container">
    <video class="video-bg" autoplay muted loop>
      <source
        src="https://www.dropbox.com/scl/fi/fl8jden30zsdqaqmc6yci/Teple1.mp4?rlkey=q3ahy0arrbwwdkmwr1h0hx7nm&st=w3lv335k&raw=1"
        type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="home-item">
    <h1 class="banner">Welcome to BSREM, </h1>
    <h2> we are committed to <br> Uniting Hindus</h2>
    <br>
    <h3 class="slogan">This survey aims to Outrich current Hindu thought<br> and the extent to which Hindus understand
      their own culture.</h3>

    <button id="perticipate" class="blink" onclick="location.href='/survey'">Click here to login and
      participate.</button>
  </div>

</section>
<!-- home section ends -->

<!-- about section strat -->
<section id="about" class="about">
  <h1 class="heading">about us</h1>
  <div class="row">
    <div class="content">
      <h3>We try to build a sustanable society, which make strong Nation</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam accusamus dolor totam. Deserunt beatae
        nesciunt voluptatibus dolore quas voluptas quis consequatur aliquid voluptates officia laborum iure, debitis
        necessitatibus optio.</p>
      <a href="#"><button class="btn">read more</button></a>
    </div>
    <div class="image"><img src="images/hlp.png" alt=""></div>
  </div>
</section>
<!-- about section end -->


<!-- vision section strat -->
<section id="vision" class="vision">
  <h1 class="heading">Vision</h1>
  <div class="row">
    <div class="content">
      <h3>We try to build a sustanable society, which make strong Nation</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aperiam accusamus dolor totam. Deserunt beatae
        nesciunt voluptatibus dolore quas voluptas quis consequatur aliquid voluptates officia laborum iure, debitis
        necessitatibus optio.</p>
        
      <a href="#"><button class="btn">read more</button></a>
    </div>
    <div class="img-vision"><img src="images/vision.jpg" alt=""></div>
  </div>
</section>
<!-- vision section end -->



<!-- team & mentor swiper section -->

<section id="team" class="teachers">

  <h1 class="headin">|| Team members & mentors ||</h1>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="image">
          <img src="images/w.png" alt="">
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
        <div class="contents">
          <h3>sudeshna paul</h3>
          <span>expert tutor</span>
          <br>
          <h2>Mentor</h2>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="image">
          <img src="images/m.png" alt="">
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
        <div class="contents">
          <h3>rishi pal</h3>
          <span> sr. scientist</span>
          <br>
          <h2>Mentor</h2>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="image">
          <img src="images/1.png" alt="">
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
        <div class="contents">
          <h3>muktesh sir</h3>
          <span>c.a</span>
          <br>
          <h2>Mentor</h2>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="image">
          <img src="images/man.png" alt="">
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
        <div class="contents">
          <h3>jiban paul</h3>
          <span>poloce officer</span>
          <br>
          <h2>Mentor</h2>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="image">
          <img src="images/man.png" alt="">
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
        <div class="contents">
          <h3>sanjoy paul</h3>
          <span>expert tutor</span>
          <br>
          <h2>secretory</h2>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="image">
          <img src="images/1.png" alt="">
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
        <div class="contents">
          <h3>tubai ghosh</h3>
          <span>job employee</span>
          <br>
          <h2>asst. secretory</h2>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="image">
          <img src="images/man.png" alt="">
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
        <div class="contents">
          <h3>prasanjit paul</h3>
          <span>cullection agent</span>
          <br>
          <h2>trasurar</h2>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image">
          <img src="images/1.png" alt="">
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
        <div class="contents">
          <h3>debojyoti ghosh roy</h3>
          <span>job employee</span>
          <br>
          <h2>member</h2>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="image">
          <img src="images/man.png" alt="">
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
        <div class="contents">
          <h3>rup kundu</h3>
          <span>business owner</span>
          <br>
          <h2>member</h2>
        </div>
      </div>

    </div>
    <div class="swiper-pagination"></div>
  </div>

</section>

<!-- team & mentor swiper section ends -->



<!-- donate start -->


<section id="donate" class="donate">
  <div class="h1-d">
    <h1 class="heading">donate</h1>
  </div>
  <div class="container">
    <div class="box">
      <img src="images/books.PNG" alt="Image 1">
      <h2>Donate Books</h2>
      <p></p>
      <div>
        <h4>More or less all of you read books and...</h4>
        <!-- Read More Button -->
        <button class="read-more-modal" onclick="openModal()">Read More</button>
      </div>
      <button class="read-more" onclick="location.href='/donate';">Donate</button>
    </div>

    <div class="box">
      <img src="images/clith.jpg" alt="Image 2">
      <h2>Donate Cloths</h2>
      <p></p>
      <div>
        <h4>Your donation of clothing can change so...</h4>
        <!-- Read More Button -->
        <button class="read-more-modal" onclick="openModal1()">Read More</button>
      </div>
      <button class="read-more" onclick="location.href='/donate';">Donate</button>
    </div>

    <div class="box">
      <img src="images/foods.PNG" alt="Image 3">
      <h2>Donate Food-items</h2>
      <p></p>
      <div>
        <h4>Imagine the joy of a child receiving a wa...</h4>
        <!-- Read More Button -->
        <button class="read-more-modal" onclick="openModal2()">Read More</button>
      </div>
      <button class="read-more" onclick="location.href='/donate';">Donate</button>
    </div>

    <div class="box">
      <img src="images/do-you.jpg" alt="Image 4">
      <h2>donate with your own hands</h2>
      <p></p>
      <div>
        <h4>Want to make a real difference? Do...</h4>
        <!-- Read More Button -->
        <button class="read-more-modal" onclick="openModal3()">Read More</button>
      </div>
      <button class="read-more" onclick="location.href='/donate';">Donate</button>
    </div>

    <div class="box">
      <h2>If you want to donate, you can take out a little time from your busy schedule and donate to us. By spending
        this little time of yours, you can participate in nation building. If you want, you can also encourage your
        acquaintances and relatives to participate.</h2>
      <button class="read-more" onclick="location.href='/auth/google?redirect={{redirect}}'">Click to Donate</button>
    </div>


  </div>

  <!-- Modal 1-->
  <div id="customModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2>Donate Book</h2>
      <p>More or less all of you read books and sell them to sellers after reading them. If you can give those books to
        someone to read without selling them, a student and his family will benefit. Especially higher education books
        are good for supporting economically weaker students.</p>
      <!-- Redirect Button -->
      <button class="btn-redirect" onclick="redirectToDonate()">Go to Donate Page</button>
    </div>
  </div>
  <!-- Modal 2-->
  <div id="customModal1" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal1()">&times;</span>
      <h2>Donate Cloths</h2>
      <p>Your donation of clothing can change someone's life, a dress can bring a smile to a family, you may be donating
        a dress for yourself, but for someone else it is jewelry. So you come forward to meet the needs of someone in
        need and ask people you know to help.</p>

      <!-- Redirect Button -->
      <button class="btn-redirect" onclick="redirectToDonate()">Go to Donate Page</button>
    </div>
  </div>
  <!-- Modal 3-->
  <div id="customModal2" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal2()">&times;</span>
      <h2>Donate Food-items</h2>
      <p>Imagine the joy of a child receiving a warm meal. Let's make that dream a reality. Every can, every box, every
        meal, brings hope to those in need. By sharing your surplus, you're helping to build stronger, healthier
        communities. Your food donations directly contribute to fighting hunger and malnutrition. Together, we can
        nourish bodies and souls. Join us in making a difference. Donate food today! Let's work together to ensure no
        one goes hungry.</p>

      <!-- Redirect Button -->
      <button class="btn-redirect" onclick="redirectToDonate()">Go to Donate Page</button>
    </div>
  </div>
  <!-- Modal 4-->
  <div id="customModal3" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal3()">&times;</span>
      <h2>donate with your own hands</h2>
      <p>Want to make a real difference? Donate your time and skills to help those in need. We'll connect you with local
        organizations that are working to support vulnerable segments of society. Whether you're passionate about
        education, healthcare, or community development, your contribution can make a lasting impact. Join us in
        building a brighter future for all and as you donate with your own hands, we'll identify the needy and
        vulnerable segments for you.</p>

      <!-- Redirect Button -->
      <button class="btn-redirect" onclick="redirectToDonate()">Go to Donate Page</button>
    </div>
  </div>


</section>

<!-- donate end -->

{{!-- home.hbs --}}
<!-- contact us start -->

<section id="contact" class="contact">
  <h1 class="heading">Contact Us</h1>
  <div class="row">
    <div class="image">
      <img src="/images/c.png" alt="">
    </div>
    <div class="form-container">
      <form id="contactForm" action="/contact" method="POST">
        <div class="inputBox">
          <input type="text" name="firstName" placeholder="First Name" required>
          <input type="text" name="lastName" placeholder="Last Name" required>
        </div>
        <div class="address">
          <input id="address" type="text" name="city" placeholder="Your Address" required>
        </div>


        <div class="inputBox">
          <input type="tel" name="mobileNumber" placeholder="Enter Your Mobile Number" required>
          <input type="email" name="email" placeholder="Enter Your Email ID" required>

        </div>
        <textarea name="message" cols="30" rows="7" placeholder="Type Your Message" required></textarea>
        <input type="submit" value="Send">
      </form>
    </div>
  </div>
</section>


<!-- contact section end -->


<!-- FAQ section starts  -->

<section id="faq" class="faq">
  <h1 class="heading">FAQ</h1>
  <div class="row">
    <div class="image">
      <img src="images/faq.jpg" alt="">
    </div>
    <div class="accordion-container">
      <div class="accordion">
        <div class="accordion-header">
          <span>+</span>
          <h3>What are the main problems of Hindus around the world?</h3>
        </div>
        <div class="accordion-body">
          <p>Basically, there is a lack of unity, due to lack of unity, there is no interaction with people from lower
            economic classes. This is also seen when a financially backward person becomes prosperous. Then he forgets
            about the financially backward people. He thinks, now is the opportunity, let's save as much as possible.
            This is just an example to explain. Think about it and you will see that if there is no greed or desire,
            then no one will have any problem.</p>
        </div>
      </div>

      <div class="accordion">
        <div class="accordion-header">
          <span>+</span>
          <h3>Why this website and the surveys conducted on this website?</h3>
        </div>
        <div class="accordion-body">
          <p>The purpose of the website is to connect with Hindus from different parts of the world, and in the age of
            the internet, this is possible if everyone makes an effort, and the survey that has been conducted on this
            website has three aspects. First, to unite Hindus. Second, to observe what kind of problems Hindus are
            facing. Third, there are many cultural and historical facts that we have all almost forgotten. but how many
            people know that. There are also different types of questions from which we can conclude in one word what
            Hindus are thinking today.</p>
        </div>
      </div>

      <div class="accordion">
        <div class="accordion-header">
          <span>+</span>
          <h3>As a Hindu, what is your role on this website?</h3>
        </div>
        <div class="accordion-body">
          <p>As a Hindu, the first role on this website is to participate in the survey. Second, you express your views
            on the forum page and ypu listen to the views of other Hindu brothers and sisters.JoinUs is a page dedicated
            to you if you like our work and want to join us. You can visit that too. If you want to support us
            financially or in any other way, you can do that by clicking on the Donation link.</p>
        </div>
      </div>

      <div class="accordion">
        <div class="accordion-header">
          <span>+</span>
          <h3>Is it really possible to unite Hindus through this website?</h3>
        </div>
        <div class="accordion-body">
          <p>We are not claiming that this is the only way. There are many Hindu organizations working to unite Hindus.
            We may not be able to do what they are doing. And it is also a fact that they will never be able to do what
            we want to do. And like everyone else, this is also an attempt to unite Hindus, but in a different way. If
            our work contributes to the progress of the work of uniting Hindus, we may feel proud.</p>
        </div>
      </div>

      <div class="accordion">
        <div class="accordion-header">
          <span>+</span>
          <h3>How transparent is this website or the people behind it?</h3>
        </div>
        <div class="accordion-body">
          <p>If any Hindu brother or sister has any questions about this website and our transparency, we will be
            transparent like glass in all public but still, I will say that there is no need for any financial
            transaction. You participate in the survey and give your opinion in the forum and comment on the opinions of
            different people. And send it to your acquaintances then there is no need for money.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FAQ section ends -->

<!-- footer section starts  -->

<section class="footer">
  <h1>created by Gobinda | copyright &copy 2023 try to help foundation.</h1>
  <div class="icons">
    <a href="http://www.twitter.com/" class="fab fa-twitter" target="_blank"></a>
    <a href="http://www.facebook.com/" class="fab fa-facebook-f" target="_blank"></a>
    <a href="http://www.instagram.com/" class="fab fa-instagram" target="_blank"></a>
    <a href="http://www.gmail.com/" class="fa-solid fa-at" target="_blank"></a>
  </div>
</section>

<!-- footer section ends -->