<div class="card">
    <div class="card-content">
        <h6 class="nameHead"> Dear <span class="bold-text">{{userData.f_Name}},</span> please complete the survey, your
            opinion is important for us.</h6>
    </div>

    <section class="survey-form2" id="form2">
        <fieldset class="set2" id="section2">
            <legend><span class="number">2</span>Your opinion</legend>
            <form class="col s12" action="/submit-form2" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="hidden" name="googleUserId" value="{{g_id}}">
                        <input id="qOne" name="q1" type="text" class="validate" required>
                        <label for="qOne">First Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="qTwo" name="q2" type="text" class="validate" required>
                        <label for="qTwo">Last Name</label>
                    </div>
                </div>
            </form>
        </fieldset>
    </section>
</div>
